<html>
	<style>
		.box{
		  position:absolute;
		  top:50%;
		  left:50%;
		  transform:translate(-50%,-50%);
		}
		body{
			font-size: 15pt;
			font-family: arial;
		}
		footer{
        text-align:center;
        clear:both;
        padding:5px;
        background-color: #eee;}
		</style>
    <body>
        <div class="box">

	    <form method="POST" action="/artview">
		<h1>Artist View</h1>
		<p> View all music created by an artist</p>
		<label for="artist"><b>Artist</b></label>
		<input type="text" name="artist" id="artist">
		<input type="submit" value="Artist Lookup">
	    </form>

	    <h2> Songs by this artist </h2>
	    <ul>
	    {% for row in artistres %}
	        <li> {{ row['song_name'] }} from {{ row['album_name'] }}, released {{ row['published_date'] }} </li>
	    {% endfor %}
	    </ul>

	    <h2> Musicians </h2>
	    <ul>
            {% for row in musicians %}
	        <li> {{ row['name'] }}, {{ row['role'] }} </li>
	    {% endfor %}
	    </ul>
		<br>
		<br>
		<br>
	    <footer><a href="musicsearch">Go back</a></footer>
        </div>
    </body>
</html>
