<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    .center {
      margin: auto;
      padding: 110px 50px 110px 50px;
    }
    .main{
    text-align: center;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }
    
  </style>


  <body class=".center">
    <div class=".center">
      <h1>Tiny Music</h1>
      <p>Join us to Explore more!</p>

    <p>
      First time? 
      <a href="register">
        Register Here!
      </a>
    </p>

    <p>
      Have an account? 
      <a href="login">
        Login
     </a> 
    </p>

    <form method="POST" action="/search">
      <p>Search Now! 
         <input type="text" name="name"> 
         <input type="submit" value="Search">
       </p>
      </div>
     </form>


  <!-- <form method="POST" action="/add">
   <p>Name of new computer scientist: 
      <input type="text" name="name"> 
      <input type="submit" value="Add">
    </p>
  </form> -->
</body>

</html>
