<html>
    <body>
        <div>

	    <p><a href="lookup">Search our database</a></p>

	    <p><a href="artview">Look up an artist</a></p>

	    <p><a href="albview">Look up an album</a></p>

            <form method="POST" action="/lookup">
                <h1>Lookup</h1>
                <p> Enter a song, album, or artist to search our database</p>
                <label for="entry"><b>Enter</b></label>
                <input type="text" placeholder="Entry" name="entry" id="artist">
                <button type="submit" class="registerbtn"> Search</button>
            </form>

	    <form method="POST" action="/artview">
		<h1>Artist View</h1>
		<p> View all music created by an artist</p>
		<label for="entry"><b>Artist</b></label>
		<input type="text" name="artist" id="artist">
		<input type="submit" value="Artist Lookup">
	    </form>

	    <form method="POST" action="/albview">
		<h1>Album View</h1>
		<p> View all songs in an album </p>
		<label for="entry"><b>Album</b></label>
		<input type="text" name="album" id="album">
		<input type="submit" value="Album Lookup">
  	    </form>
        </div>
    </body>
</html>

