<!DOCTYPE html>
<html>
    <body>
        <div>
            <form method="POST" action="/register">
                <h1>Registration</h1>
                <p> Hey there! Join us now!</p>
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Username" name="username" required>

                <label for="Birthday"><b>Birthday</b></label>
                <input type="date" placeholder="Birthday" name="Birthday" required>

                <label for="password"><b>Password</b></label>
                <input type="text" placeholder="password" name="password" required>

                <label for="password-comfirm"><b>Comfirm your password</b></label>
                <input type="text" placeholder="Comfirm your password" name="passwordcomfirm" required>

                <button type="submit" class="registerbtn"> Register</button>
            </form>
        </div>
    </body>
</html>